@font-face {
  font-family:'lemon';
  src: url("Fonts/LemonMilk.otf");
}
@font-face {
  font-family:'avenir';
  src: url("Fonts/AvenirLTStd-Black.otf");
}
@font-face {
  font-family: 'avenir-thin';
  src: url("Fonts/AvenirLTStd-Light.otf");
}
body, html {
  margin:0;
  padding:0;
  overflow-x:hidden;
  background-color:#EEE;
}
body {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
.navbar {
  font-family:'lemon';
  z-index:9999;
  height:5vw;
  min-height:40px;
  width:100vw;
  background-color:#111010;
  position: absolute;
}
.navbar a {
  display:inline-block;
  float:right;
  color:#c2c0c0;
  font-size:1.1vw;
  transition:text-shadow 0.3s;
  padding-right:30px;
  line-height: 5vw;
  height:100%;
  width:8%;
}
.navbar a:nth-of-type(2) {
  margin-right:60px;
}
a:hover {
  text-shadow: 0 0px 20px rgba(255,255,255,0.9);
}
.navbar .button {
  border:1px solid #EEE;
  border-radius:28px;
  padding:7px 20px;
  transition:0.3s;
}
.navbar .button:hover {
  background-color: #EEE;
  color:#111010;
}
.navbar .icon {
  display:none;
}
.banner {
  height:130%;
  width:6.5vw;
  position: absolute;
  left:15%;
}
.banner .banner-body {
  height:7vw;
  width:100%;
  background-color:#262525;
  display:flex;
  justify-content: center;
}
.banner .banner-tail {
  width:0;
  height:0;
  position: absolute;
  border-bottom: 3vw solid transparent;
}
.banner .banner-tail:nth-child(3) {
  border-right:6.5vw solid #262525;
}
.banner .banner-tail:nth-child(2) {
  border-left:6.5vw solid #262525;
}
.banner img {
  width:90%;
  align-self: flex-end;
}
.container {
  display:flex;
  flex-wrap:wrap;
  position:relative;
  width:100vw;
  height:100vh;
  background-color:#EEE;
  justify-content: center;
}
.black-body {
  height:75%;
  width:100%;
  background-color:#010101;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.background-overlay{
  background-image:url("Images/hypnotize.png");
  opacity:0.05;
  width:100%;
  height:75vh;
  position: absolute;
  top:0;
  z-index:0;
}
.sub-container {
  margin-top:7%;
  z-index:1;
  width:80%;
  text-align: center;
}
.tagline {
  text-align: center;
  width:100%;
  font-family: 'avenir-thin';
  color:#dbdbdb;
  margin-bottom:5%;
}
.tagline h1 {
  font-size:calc(20px + 0.7vw);
}
.information {
  width:100%;
  color:#504f4f;
  text-align: center;
}
.nameTitle {
  line-height: 50%;
  color:#7c7979;
}
.information h1 {
  font-family:'avenir';
  font-size:calc(30px + 0.7vw);
}
.information h3 {
  font-family:'avenir-thin';
  font-size:calc(24px + 0.1vw);
}
.information h2 {
  font-family:'avenir-thin';
  font-weight:400;
}
.white-body {
  height:25%;
  width:100%;
  margin:0;
  padding:0;
  text-align: center;
}
.white-body img {
  transform:translateY(-70%);
  margin-bottom:100px;
  width:30%;
}
.content {
  width:70%;
}
.content h1 {
  font-family: 'avenir';
}
.project {
  background-color:#545c5d;
  float:left;
  width:33%;
  height:100%;
}
.content-row a {
    position: relative;
    text-decoration: none;
}
.mask {
  width:100%;
  height:100%;
  float:left;
  opacity:0;
  background-color:#111;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.mask:hover {
  opacity:0.8;
}
.mask h2 {
  text-shadow:0 0 0;
  font-family: 'avenir';
  color:#EEE;
}
.content-row a .project {
  background-position:center;
  background-size:cover;
}
.content-row:nth-child(2) a:nth-child(1) .project {
  background-image:url("Images/audio visualizer.png");
}
.content-row:nth-child(2) a:nth-child(2) .project {
  background-image:url("Images/tone box.png");
}
.content-row:nth-child(2) a:nth-child(3) .project {
  background-image:url("Images/tetris - multiplayer.png");
}
.content-row:nth-child(3) a:nth-child(1) .project {
  background-image:url("Images/target.png");
}
.content-row:nth-child(3) a:nth-child(2) .project {
  background-image:url("Images/competitive.png");
}
.content-row {
  margin:10px 0;
  height:auto;
  width:100%;
  height:30vh;
}
.footer {
  width:100%;
  height:80px;
  margin-top:20px;
  background-color:#010101;
  display:flex;
  flex-direction:column;
  align-items: flex-end;
  font-family:'lemon';
  justify-content: center;
  color:#333;
}
.footer h3 {
  padding-right:20px;
}
@media screen and (max-width: 1200px) {
  .navbar {
    height:60px;
  }
  .navbar a {
    line-height: 60px;
  }
  .banner {
    height:70px;
    width:60px;
    position: absolute;
    left:15%;
  }
  .banner .banner-body {
    height:70px;
    width:100%;
    background-color:#262525;
    display:flex;
    justify-content: center;
  }
  .banner .banner-tail {
    width:0;
    height:0;
    position: absolute;
    border-bottom: 3vw solid transparent;
  }
  .banner .banner-tail:nth-child(3) {
    border-right:60px solid #262525;
  }
  .banner .banner-tail:nth-child(2) {
    border-left:60px solid #262525;
  }
}
@media screen and (max-width: 880px) {
  .project {
    width:50%;
  }
  .content-row {
    margin:0;
  }
  .container:nth-child(3) {
    height:auto;
  }
}
@media screen and (max-width: 800px) {
  .banner {
    left:15%;
  }
}
@media screen and (max-width: 640px) {
  .navbar a:not(:first-of-type) {
    transition:all 1s;
    height:0px;
    opacity: 0;
    float: right;
    display: block;
        text-align: right;
        visibility: hidden;
  }
  .navbar a.icon {
    float: right;
    display: block;
    text-align: right;
  }
  .navbar a {
    font-size: 15px;
    width:100%;
    height:60px;
  }
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive a {
    visibility: visible;
    float: right;
    display: block;
    background-color:#111010;
    height:60px;
    padding-right:30px;
    text-align: right;
    opacity:1;
  }
  .navbar a:nth-of-type(2) {
    border:none;
    margin-right:0;
  }
  .navbar .button {
    border:none;
    padding:0;
  }
}
@media screen and (max-width: 520px) {
  .footer {
    align-items: center;
    text-align: center;
  }
  .footer h3 {
    padding:0;
    font-size:15px;
  }
}
@media screen and (max-width: 460px) {
  .nameTitle {
    line-height: 120%;
  }
  .information h1 {
    font-size:30px;
  }
  .nameTitle h1 {
    line-height: 80%;
    font-size:25px;
    border-bottom: 1px solid transparent;
    margin-bottom:5px;
  }
  .nameTitle h3 {
    margin-top:5px;
    font-size:20px;
  }
  .leftField, .rightField {
    display:none;
  }
  .white-body .centerField {
    width:80%;
  }
  .project {
    width:100%;
  }
  .content-row:last-child {
    margin-bottom:20px;
  }
}
