@keyframes slide-border {
    from { width: 0%; }
    to { width: 40%; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #111111;
    overflow: hidden;
}

#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #AAAAAA;
}

#main-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

#content-container {
    display: flex;

    justify-content: center;
    align-items: center;
    color: #222222;
    font-size: 50px;
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 30px;

}

#content-container span {
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

#about {
    background-color: #333333;
    color: #CCCCCC;
}

#experience {
    background-color: #FFFFFF;
    color: #111111;
}

#projects {
    background-color: #FFFFFF;
    color: #111111;
}

span:before, span:after, #name:before, #name:after {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
}

span:before {
    bottom: 0px;
    left: -20px;
    border-bottom: 5px solid #222222;
    border-left: 5px solid #222222;
}

span:after {
    top: 0;
    right: -20px;
    border-right: 5px solid #222222;
    border-top: 5px solid #222222;
}

#name:before {
    top: 0px;
    left: -20px;
    border-top: 5px solid #222222;
    border-left: 5px solid #222222;
}

#name:after {
    bottom: 0;
    right: -20px;
    border-right: 5px solid #222222;
    border-bottom: 5px solid #222222;
}

#name {
    padding: 5px 20px;
    text-shadow: 0px 0px 5px #FFFFFF;
}

#navbar-container {
    width: 100%;
    padding: 10px 30px;
    display: flex;
}

#logo {
    flex-grow: 1;
}

#main-overlay ul#navbar {
    display: flex;
    justify-content: space-between;
}

#main-overlay ul#navbar li {
    display: inline;
    padding: 0px 10px;
    padding-bottom: 5px;
    cursor: pointer;
    mix-blend-mode: difference;
}


ul#navbar #navbar_selected {
    border-bottom: 2px solid #CCCCCC;
    color: #CCCCCC;
}


#main-top, #main-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
}

#main-bottom {
    align-self: end;
    justify-content: flex-start;
    transform-origin: 100% 0%;
}

#main-top {
    justify-content: flex-end;
}

#main-top:after, #main-bottom:before {
    content: "";
    display: block;
    width: 0%;
    animation: slide-border 2s linear 0s forwards;
    position: absolute;
}

#main-top:after {
    align-self: start;
    border-bottom: 1px solid #222222;
}

#main-bottom:before {
    align-self: end;
    border-top: 1px solid #222222;
}

.title-font {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
